<footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Tauron</h5>
                <p>
                    Tauron is a leading crypto platform providing secure and
                    reliable services for buying, selling, and managing
                    cryptocurrencies. Our mission is to make crypto accessible
                    to everyone.
                </p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/home" class="text-white">Home</a></li>
                    <li>
                        <a routerLink="/services" class="text-white"
                            >Services</a
                        >
                    </li>
                    <li><a routerLink="/about" class="text-white">About</a></li>
                    <li><a routerLink="/news" class="text-white">News</a></li>
                    <li>
                        <a routerLink="/subscription" class="text-white"
                            >Subscription</a
                        >
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>
                    Email: support AT tauron.com<br />
                    Phone: +123 456 7890<br />
                    Address: KONYAALTI/Antalya 07070
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <p class="mb-0">&copy; 2025 Tauron. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
