.hero-section {
  height: 80vh;
  background: url('/assets/images/hero.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3); // Reduced opacity
    background-image: linear-gradient(rgba(28, 27, 31, 0.7), rgba(28, 27, 31, 0.5), rgba(28, 27, 31, 0.7));
  }
}
.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
}

.card {
  transition: transform 0.3s ease;
  
  &:hover {
    transform: translateY(-5px);
  }
}

.jumbotron {
  border-radius: 15px;
}